<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->

<head th:replace="fragments::head">

</head>

<body>
<div th:replace="fragments::main-top">
</div>
<!-- End Main Top -->

<!-- Start Main Top -->
<header th:replace="fragments::main-header">
</header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div th:replace="fragments::top-search">
</div>
<!-- End Top Search -->

<!-- Start Slider -->
<div th:replace="fragments::slider">
</div>
<!-- End Slider -->


<!-- Start About Page  -->
<div class="about-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-frame"><img class="img-fluid" src="images/Intro.png" alt=""/>
                </div>
            </div>
            <div class="col-lg-6">
                <h2 class="noo-sh-title-top">We are <span>Noi That Thien An</span></h2>
                <p>Welcome to Noi That Thien An, your ultimate destination for high-quality and stylish furniture. We
                    are proud to be a leading provider of exquisite furniture pieces that enhance the beauty and
                    functionality of your home or office</p>
                <p>With our extensive range of products and a commitment to exceptional customer service, we strive to
                    exceed your expectations and help you create spaces that truly reflect your personal style and
                    taste.</p>
                <p>Visit Noi That Thien An today and discover a world of exquisite furniture that elevates your
                    living spaces. Experience the perfect blend of functionality, comfort, and style as you transform
                    your home or office into a haven of beauty and inspiration.</p>
                <a class="btn hvr-hover" href="#">Read More</a>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>We are Trusted</h3>
                    <p>At Noi That Thien An, we understand that furniture is not merely about functionality; it
                        is an expression of your individuality and a reflection of your unique lifestyle. That's why we
                        curate a diverse collection of furniture, carefully selecting each piece for its craftsmanship,
                        durability, and design aesthetic. From contemporary and minimalist designs to classic and
                        timeless styles, our inventory offers something for every preference and interior theme.</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>We are Professional</h3>
                    <p>Quality is at the heart of everything we do. We partner with renowned furniture manufacturers and
                        artisans who share our dedication to exceptional craftsmanship. Our furniture is made from
                        premium materials, ensuring longevity and comfort. Whether you are looking for a comfortable
                        sofa to relax on, a sturdy dining table for family gatherings, or a functional desk for your
                        home office, our furniture is built to withstand the test of time, providing you with both style
                        and practicality.
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>We are Expert</h3>
                    <p>At Noi That Thien AN, we prioritize customer satisfaction above all else. Our
                        knowledgeable and friendly team is always ready to assist you in finding the perfect furniture
                        pieces that meet your specific needs and preferences. We offer a seamless shopping experience,
                        from browsing our extensive collection to delivering and assembling your chosen items. With our
                        attention to detail and commitment to excellence, we strive to create long-lasting relationships
                        with our valued customers, making your furniture buying journey enjoyable and rewarding.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Start Feed  -->
<div th:replace="fragments::instagram-box">
</div>
<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

<!-- End Feed  -->


<!-- Start Footer  -->
<footer th:replace="fragments::footer">
</footer>


<!-- ALL JS FILES -->
<div th:replace="fragments::script"></div>
</body>

</html>