<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->

<head th:replace="fragments::head">


</head>

<body>
<!-- Start Main Top -->
<div th:replace="fragments::main-top">
</div>
<!-- End Main Top -->

<!-- Start Main Top -->
<header th:replace="fragments::main-header">
</header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div th:replace="fragments::top-search">
</div>
<!-- End Top Search -->

<!-- Start All Title Box -->
<div th:replace="fragments::slider">
</div>
<!-- End All Title Box -->

<!-- Update Personal Information -->
<section>
    <div class="cart-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-main table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="order-id">OrderID</th>
                                <th class="order-date">Order Date</th>
                                <th>Delivery Date</th>
                                <th class="price-pr">Order Status</th>
                                <th class="quantity-box">Total Price</th>
                                <th class="total-pr">Payment Method</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody th:each="order :${orders}">
                            <tr >
                                <td class="order-id">
                                    <span><b th:text="${order.id}"></b></span>
                                </td>
                                <td class="order-date">
                                    <span><b th:text="${order.orderDate}"></b></span>
                                </td>
                                <td class="name-pr" th:if="${order.deliveryDate != null}">
                                    <p href="#" th:text="${order.deliveryDate}">

                                    </p>
                                </td>
                                <td class="name-pr" th:if="${order.deliveryDate == null}">
                                    <p>Waiting the accept...
                                    </p>
                                </td>
                                <td class="price-pr">
                                    <p th:text="${order.orderStatus}"></p>
                                </td>

                                <td class="total-pr">
                                    <p style="color: red" th:text="${'$'+ order.totalPrice}"></p>
                                </td>
                                <td class="total-pr" style="color: black">
                                    <span></span>Cash</span>
                                </td>
                                <td>
                                    <a th:if="${order.accept} == false" th:href="@{/cancel-order(id = ${order.id})}"
                                       class="btn btn-primary">Cancel</a>
<!--                                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"-->
<!--                                         aria-labelledby="exampleModalLabel"-->
<!--                                         aria-hidden="true">-->
<!--                                        <form th:if="${order.accept} != false" th:action="@{/add-category}"-->
<!--                                              method="post" th:object="${categoryNew}">-->
<!--                                            <div class="modal-dialog" role="document">-->
<!--                                                <div class="modal-content">-->
<!--                                                    <div class="modal-header">-->
<!--                                                        <h5 class="modal-title" id="exampleModalLabel">New Category</h5>-->
<!--                                                    </div>-->
<!--                                                    <div class="modal-body">-->

<!--                                                        <div class="form-group">-->
<!--                                                            <label for="recipient-name"-->
<!--                                                                   class="col-form-label">Name:</label>-->
<!--                                                            <input type="text" class="form-control" th:field="*{name}"-->
<!--                                                                   id="recipient-name">-->
<!--                                                        </div>-->

<!--                                                    </div>-->
<!--                                                    <div class="modal-footer">-->
<!--                                                        <button type="button" class="btn btn-secondary"-->
<!--                                                                data-dismiss="modal">Close-->
<!--                                                        </button>-->
<!--                                                        <button type="submit" class="btn btn-primary">Save</button>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </form>-->
<!--                                    </div>-->

                                </td>
                            </tr>
                            <tr >
                                <td>
                                    <table class="inner-table" border="2" style="margin-left: 50px;">
                                        <thead>
                                        <tr>
                                            <th>OrderDetail ID</th>
                                            <th>Unit Price</th>
                                            <!-- Add more headers as needed -->
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="orderDetail : ${orderDetails}" th:if="${orderDetail.order.id == order.id}">
                                            <td th:text="${orderDetail.id}"></td>
                                            <td th:text="${orderDetail.unitPrice}"></td>
                                            <!-- Add more columns as needed -->
                                        </tr>
                                        <!-- End of inner table rows for order details -->
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer th:replace="fragments::footer"></footer>

<!-- ALL JS FILES -->
<div th:replace="fragments::script"></div>
</body>

</html>